.search {
  float: right;
}

.navegacaoBrand {
  margin-left: 3rem;
  font-size: 2rem;
}

.navegacao {
  margin-left: 3rem;
  font-size: 1.5rem;
}

.navegacaoLink {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.navegacaoCarrinho {
  margin-left: 30rem;
  font-size: 1.5rem;
  float: right;
}

.carrinhoItem {
  float: right;
}

.logoffBotao {
  margin-left: 2rem;
}
